<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <p class="h4">Cadastre seus contatos aqui</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="formulario">
        <div class="row">
          <div class="col-3">
            <div class="mb-3">
              <label for="inputName" class="form-label">Nome</label>
              <input
                formControlName="nome"
                placeholder="Nome"
                class="form-control"
                id="inputName"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <div class="mb-3">
              <label for="inputNumber" class="form-label">Telefone</label>
              <input
                formControlName="telefone"
                placeholder="Telefone"
                class="form-control"
                id="inputNumber"
              />
            </div>
          </div>
        </div>
        <button type="submit" (click)="createUser()" class="btn btn-primary">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>
